doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Coventry Farms

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Home
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#services') Services
                        li.nav-item
                            a.nav-link(href='#portfolio') Photo Gallery
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold Welcome to Coventry Farms
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5
                            | Committed to the development of Littleton's best hunter/jumper riders.
                        a.btn.btn-primary.btn-xl(href='#about') Find Out More

        // About
        section#about.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 About our farm
                        hr.divider.divider-light
                        p.text-white-75.mb-4
                            | Coventry Farms is a premium equestrian facility located only 45 minutes from the world class Colorado Horse Park.  For over 25 years, Coventry Farms has been committed to the development of Littleton’s best hunter/jumper riders.  We provide all of our horses and riders with the best full care and training in a serene environment of excellence.
                            |
                            | Coventry Farms offers lessons for beginners all the way up through the Grand Prix level, on seasoned bomb-proof horses.  Expert hunter/jumper training is available for both human and equine athletes wishing to compete at the local and national level.  Clients benefit from the McConnell's decades of experience and an environment that is conducive to education and performance at the top levels of hunter/jumper competition.
                            |
                            | Contact us today for more information regarding lessons, boarding, and sales.
                        a.btn.btn-light.btn-xl(href='#services') Our services

        // Services
        section#services.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Coventry Farms Services
                hr.divider
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-gem.fs-1.text-primary
                            h3.h4.mb-2 Boarding
                            p.text-muted.mb-0 Board prices include feeding, watering, and the cleaning of stalls. (prices here)
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-laptop.fs-1.text-primary
                            h3.h4.mb-2 Lessons
                            p.text-muted.mb-0 Monthly flat lesson plans are based on the student taking one lesson per week. Monthly flat and jump combinations are two lessons per week. (prices & forms)
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-globe.fs-1.text-primary
                            h3.h4.mb-2 Sales & Leasing
                            p.text-muted.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-heart.fs-1.text-primary
                            h3.h4.mb-2 Our Team
                            p.text-muted.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        // Portfolio
        #portfolio
            .container-fluid.p-0
                .row.g-0
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/amanda1.jpeg', title='Amanda McConnell')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/amanda1.jpeg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Photo
                                .project-name
                                    | Description
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/december.jpeg', title='TBD')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/december.jpeg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Photo
                                .project-name
                                    | Description
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/emily1.jpeg', title='TBD')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/emily1.jpeg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Photo
                                .project-name
                                    | Description
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/sunset2.jpeg', title='Project Name')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/sunset2.jpeg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Photo
                                .project-name
                                    | Description
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/horse_rider.jpeg', title='TBD')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/horse_rider.jpeg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Photo
                                .project-name
                                    | Description
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/saddlepad.jpeg', title='TBD')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/saddlepad.jpeg', alt='...')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Photo
                                .project-name
                                    | Description

        // Call to action
        section.page-section.bg-dark.text-white
            .container.px-4.px-lg-5.text-center
                h2.mb-4 Get started today
                ul.navbar-nav.ms-auto.my-2.my-lg-0
                    li.nav-item
                        a.nav-link(href='') Price List
                    li.nav-item
                        a.nav-link(href='') Registration Form
                a.btn.btn-light.btn-xl(href='') Contact us

        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0 Let's Get In Touch!
                        hr.divider
                        p.text-muted.mb-5
                            | 7990 S. Santa Fe, Littleton CO 80120
                            | (720) 343-0781
                            | coventryfarms.ridinglessons@gmail.com
                        p.text-muted.mb-5
                            | (Embed Google maps here)
        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2023 - Coventry Farms

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
